/*

  By Bobby Richter and Laura de Reynal
  License: MIT & CC-NonCommercial

*/

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans';
  background-color: black;
  color: white;
}

img {
  visibility: hidden;
}

#start-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#start-button {
  padding: 1em;
  border-radius: 3px;
  font-family: 'Open Sans';
  opacity: 0;
  transition: opacity 2s, background-color .5s, color .5s;
  user-select: none;
}

#start-button:hover {
  background-color: white;
  color: black;
}

#start-button.show {
  opacity: 1;
  cursor: pointer;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  visibility: hidden;
}

.image.ready {
  opacity: 0;
  visibility: visible;
}

.image.show {
  opacity: 1;
  transition: opacity 2s;
  transition-timing-function: ease-in-out;
}

#title, #subtitle {
  position: absolute;
  right: 2rem;
  text-align: right;
  color: rgb(200, 200, 200);
  opacity: 0;
  transition: opacity 2s;
}

#title.show, #subtitle.show {
  opacity: 1;
}

#title {
  bottom: 3rem;
}

#subtitle {
  bottom: 2rem;
  text-transform: uppercase;
  font-size: 0.5em;
}

#loading {
  bottom: 3rem;
  opacity: 1;
  transition: opacity 1s;
}

#loading.hide {
  opacity: 0;
}